{% extends 'base_client.html.twig' %}

{% block body %}

	<div class="profil_user">
		<header class="profil_user_header">
			<img src="{{user.getWebPathImg()}}" alt="" />
		</header>
		{{user.username}}<br>
		{{user.firstname}}<br>
		{{user.lastname}}<br>
		{{user.id}}
	</div>

{% endblock %}

{% block scripts %}

{% endblock %}
