{# empty Twig template #}
{% extends 'base_forum.html.twig' %}

{% block forum %}
    <div>
        <ul>
        {% for subForum in subForums %}
            <li>
                <a href="{{urlgenerator('sub_forum', {id: subForum.id})}}">{{subForum.nameForum}}</a>
                <p>{{subForum.description}}</p>
            </li>
        {% endfor %}
        
        </ul>
        </br>
        <ul>
        {% for topic in topics %}
            <li>
                <a href="{{urlgenerator('topic', {id: topic.id})}}" >{{topic.title}}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}