{# empty Twig template #}
{% extends 'base_client.html.twig' %}

{% block body %}
    <div>
        <div>
                <p>Le {{topic.dateMessage}}</p>
                <p>{{topic.contentMessage}}</p>
                <p>Par {{topic.username}}</p>
        </div>
        <ul>
        {% for message in messages %}
            <li>
                <p>Le {{message.dateMessage}}</p>
                <p>{{message.contentMessage}}</p>
                <p>Par {{message.username}}</p>
            </li>
        {% endfor %}
        
        </ul>
        <div>
            {% if session.hasUser() %}
                <form action="{{urlgenerator('forum_send_message')}}" method="POST" >
                    <input type="hidden" value="{{id_topic}}" name="id_topic" />
                    <input type="text" name="contentMessage" id="contentMessage" ?>
                    <input type="submit" value="Répondre" />
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}